@page
@model Lab2.Pages.ChooseUserModel
@{
}

<form>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingUsername" placeholder="Username" />
        <label for="floatingUsername">Username</label>
    </div>

    <br />

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
        <label for="floatingPassword">Password</label>
    </div>

    <br />
    
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingEmail" placeholder="Email" />
        <label for="floatingPassword">Email</label>
    </div>

    <br />

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingPhone" placeholder="Phone Number" />
        <label for="floatingPassword">Phone Number</label>
    </div>

    <br />
    <br />

    <button type="submit" class="btn btn-primary">Login</button>
    <button asp-page="ChooseUser" asp-page-handler="PopulateHandler" formnovalidate class="btn btn-primary">Populate</button>
    <button asp-page="ChooseUser" asp-page-handler="ClearHandler" formnovalidate class="btn btn-primary">Clear</button>
</form>
