@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lab 2 was a collaberation between Parker Ferguson, Jon Lee, and Ben Trang</p>
</div>


<form method="get" asp-page="/ChooseUser">
    <button type="submit" class="btn btn-primary">To Lab 2!</button>
</form>